.hide {
    display: none;
}

.hide.active {
    display: block;
}

a.nav-item {
    font-size: 1.3rem;
    padding: .8rem 2rem;
    margin: 0px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid rgba(0, 0,0, 0.1);
}

a {
    text-decoration: none;
}

.current_selected {
    border-bottom: black solid 3px;
}

.navb {
    display: flex;
}

.emp {
    border-bottom: 3px rgba(0, 0,0, 0.1) solid;
    flex-grow: 1;
}

.box {
    border: solid rgba(0, 0, 0, 0.1) .15rem;
    border-radius: 7px;
    box-shadow: 0rem .1rem 4px;
    padding: .5rem 1rem;
}
